[Unit]
Description=Generator of fullbogons definitions for nftables
After=network-online.target
Wants=network-online.target
After=nftables.service
Wants=nftables.service

[Service]
Type=oneshot
ExecStart=/usr/bin/fullbogons-nftables-gen /etc/nftables.d/fullbogons-defintion.nft
ExecStart=/usr/sbin/nft -f /etc/nftables.d/refresh-fullbogons.nft
